<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InsolexAPI</key>
	<dict>
		<key>Response code</key>
		<string>1</string>
		<key>Error code</key>
		<string>0</string>
		<key>NotSubmitted</key>
		<dict>
			<key>Scrub1</key>
			<dict>
				<key>Endoscopy</key>
				<string>15</string>
				<key>General</key>
				<string>20</string>
				<key>Labor</key>
				<string>30</string>
				<key>Surgical</key>
				<string>20</string>
			</dict>
			<key>Scrub2</key>
			<dict>
				<key>Endoscopy</key>
				<string>15</string>
				<key>General</key>
				<string>20</string>
				<key>Labor</key>
				<string>30</string>
				<key>Surgical</key>
				<string>20</string>
			</dict>
			<key>TotalCasesNotSubmitted</key>
			<string>85</string>
		</dict>
		<key>Submitted</key>
		<dict>
			<key>Scrub1</key>
			<dict>
				<key>Endoscopy</key>
				<string>5</string>
				<key>General</key>
				<string>10</string>
				<key>Labor</key>
				<string>3</string>
				<key>Surgical</key>
				<string>7</string>
			</dict>
			<key>Scrub2</key>
			<dict>
				<key>Endoscopy</key>
				<string>5</string>
				<key>General</key>
				<string>10</string>
				<key>Labor</key>
				<string>3</string>
				<key>Surgical</key>
				<string>7</string>
			</dict>
			<key>TotalSubmittedCases</key>
			<string>25</string>
		</dict>
	</dict>
</dict>
</plist>
