<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Role</key>
	<array>
		<string> Scrub Role 1</string>
		<string>Scrub Role 2</string>
		<string>Observation</string>
	</array>
	<key>Surgical_Assistent</key>
	<dict>
		<key>Chosen Specialty</key>
		<array/>
		<key>General Surgery</key>
		<array>
			<string>Abdominal Surgery</string>
			<string>Amputation</string>
			<string>Articular Cartilage Damage</string>
			<string>Autologous</string>
			<string>Bariatrics</string>
			<string>Cardiac Surgery</string>
			<string>Cardiothoracic Surgery</string>
			<string>Conductive Keratoplasty</string>
			<string>Cryoablation</string>
			<string>Eye Surgery</string>
			<string>Gastrectomy</string>
			<string>Sacrohysteropexy</string>
			<string>Neurosurgery</string>
			<string>Orthognathic Surgery</string>
			<string>Orthopedic Surgery</string>
			<string>Pediatric Surgery</string>
			<string>Plastic Surgery</string>
			<string>Replantation</string>
			<string>Surgical Oncology</string>
			<string>Thoracic Surgery</string>
			<string>Trauma Surgery</string>
			<string>Urogynecology</string>
			<string>Urology</string>
			<string>Vascular Surgery</string>
		</array>
		<key>Other Specialty</key>
		<array>
			<string>Abdominal Surgery</string>
			<string>Amputation</string>
			<string>Articular Cartilage Damage</string>
			<string>Autologous</string>
			<string>Bariatrics</string>
			<string>Cardiac Surgery</string>
			<string>Cardiothoracic Surgery</string>
			<string>Conductive Keratoplasty</string>
			<string>Cryoablation</string>
			<string>Eye Surgery</string>
			<string>Gastrectomy</string>
			<string>General Surgery</string>
			<string>Sacrohysteropexy</string>
			<string>Neurosurgery</string>
			<string>Orthognathic Surgery</string>
			<string>Orthopedic Surgery</string>
			<string>Pediatric Surgery</string>
			<string>Plastic Surgery</string>
			<string>Replantation</string>
			<string>Surgical Oncology</string>
			<string>Thoracic Surgery</string>
			<string>Trauma Surgery</string>
			<string>Urogynecology</string>
			<string>Urology</string>
			<string>Vascular Surgery</string>
		</array>
	</dict>
	<key>Surgical_Technology</key>
	<dict>
		<key>Diagnostic Endoscopty</key>
		<array>
			<string>Bronchoscopy</string>
			<string>Colonoscopy</string>
			<string>Crystoscopy</string>
			<string>EGD</string>
			<string>ERCP</string>
			<string>Escphagoscopy</string>
			<string>Laryngoscopy</string>
			<string>Panendoscopy</string>
			<string>Sinoscopy</string>
			<string>Ureteroscopy</string>
		</array>
		<key>General Surgery</key>
		<array/>
		<key>Labor and Delivery</key>
		<array>
			<string>Maternity Case</string>
		</array>
		<key>Surgical Speciality</key>
		<array>
			<string>Cardiothoracic Surgery</string>
			<string>ENT</string>
			<string>Eye</string>
			<string>GU</string>
			<string>Neuro</string>
			<string>Ob-Gyn</string>
			<string>Oral/Maxillofacial</string>
			<string>Orthopedics</string>
			<string>Peripheral Vascular</string>
			<string>Plastics</string>
			<string>Procurement Transplant</string>
		</array>
	</dict>
</dict>
</plist>
